body{
    background: #181818;

}

.fundo-galaxia {
    width: 100%;
    height: 800px;
    background-image: url('img/galaxia.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

h1, h2, h3, p{
    color: white;
}

.color_text{
    color: white;
}

.color_botao {
    background: #001624;
    transition: 0.3s;
}
